RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# Regla adicional para manejar URLs con el nombre del proyecto
RewriteRule ^plataforma-clases-online/(.*)$ index.php?url=$1 [QSA,L]