/* Variables de colores y fuentes inspiradas en Udemy */
:root {
    --font-stack-heading-serif: "Udemy Sans", "Vazirmatn", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-stack-heading: "Udemy Sans", "Vazirmatn", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-stack-text: "Udemy Sans", "Vazirmatn", "SF Pro Text", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-weight-light: 300;
    --color-gray-650: oklch(20.35% 0.0139 285.09deg);
    --color-gray-600: oklch(25.65% 0.0265 278.04deg);
    --color-gray-550: oklch(29.74% 0.0362 281.74deg);
    --color-gray-500: oklch(33.88% 0.0354 277.71deg);
    --color-gray-450: oklch(37.75% 0.0361 278.19deg);
    --color-gray-400: oklch(48.09% 0.0371 279.08deg);
    --color-gray-350: oklch(56.28% 0.045 278.7deg);
    --color-gray-300: oklch(67.22% 0.0355 279.77deg);
    --color-gray-250: oklch(79.05% 0.0283 281.19deg);
    --color-gray-200: oklch(86.72% 0.0192 282.72deg);
    --color-gray-150: oklch(93.86% 0.0108 280.47deg);
    --color-gray-100: oklch(97.59% 0.0029 264.54deg);
    --color-red-500: oklch(42.24% 0.1681 30.2666deg);
    --color-red-450: oklch(51.46% 0.2065 29.98deg);
    --color-red-400: oklch(55.73% 0.2161 29.71deg);
    --color-red-350: oklch(60.93% 0.2212 29.33deg);
    --color-red-300: oklch(66.71% 0.2202 28.6deg);
    --color-red-250: oklch(73.92% 0.1589 26.1665deg);
    --color-red-200: oklch(84.53% 0.0845 23.47deg);
    --color-red-150: oklch(89.94% 0.0522 22.54deg);
    --color-red-100: oklch(95.79% 0.0208 21.17deg);
    --color-blue-500: #180a3d;
    --color-blue-450: #281160;
    --color-blue-400: #371783;
    --color-blue-350: #431ca3;
    --color-blue-300: #5022c3;
    --color-blue-250: #8072e6;
    --color-blue-200: #c0c4fc;
    --color-blue-150: #d8e0fb;
    --color-blue-100: #eeeffc;
    --color-indigo-500: var(--color-blue-500);
    --color-indigo-400: var(--color-blue-400);
    --color-indigo-300: var(--color-blue-300);
    --color-indigo-200: var(--color-blue-200);
    --color-indigo-100: var(--color-blue-100);
    --color-orange-500: oklch(46.68% 0.1161 51.53deg);
    --color-orange-450: oklch(54.6% 0.1286 56.49deg);
    --color-orange-400: oklch(62.76% 0.1418 61.45deg);
    --color-orange-350: oklch(70.46% 0.1543 66.16deg);
    --color-orange-300: oklch(76.62% 0.166 68.76deg);
    --color-orange-250: oklch(81.19% 0.1424 76.67deg);
    --color-orange-200: oklch(87.41% 0.1102 76.47deg);
    --color-orange-150: oklch(92.32% 0.0692 78.84deg);
    --color-orange-100: oklch(97.56% 0.0244 83.42deg);
    --color-yellow-500: #223509;
    --color-yellow-450: #5c6a12;
    --color-yellow-400: #959b19;
    --color-yellow-350: #d2cf1e;
    --color-yellow-300: #e9e729;
    --color-yellow-250: #eeec5d;
    --color-yellow-200: #eceb98;
    --color-yellow-150: #f3f2b8;
    --color-yellow-100: #f9f9d7;
    --color-green-500: oklch(30.72% 0.0555 158.67deg);
    --color-green-450: oklch(37.76% 0.0714 158.21deg);
    --color-green-400: oklch(44.49% 0.0863 157.92deg);
    --color-green-350: oklch(54.72% 0.1208 156.09deg);
    --color-green-300: oklch(64.59% 0.1519 154.89deg);
    --color-green-250: oklch(72.81% 0.1208 158.17deg);
    --color-green-200: oklch(81.01% 0.0873 162.22deg);
    --color-green-150: oklch(89.13% 0.0532 165.8deg);
    --color-green-100: oklch(97.23% 0.0176 170.1deg);
    --color-teal-600: oklch(26.97% 0.0428 220.91deg);
    --color-teal-550: oklch(33.77% 0.0548 217.68deg);
    --color-teal-500: oklch(40.6% 0.0677 216.83deg);
    --color-teal-450: oklch(48.03% 0.0813 214.59deg);
    --color-teal-400: oklch(55.87% 0.0933 207.35deg);
    --color-teal-350: oklch(62.69% 0.1022 202.5deg);
    --color-teal-300: oklch(71.25% 0.1 200.16deg);
    --color-teal-250: oklch(80.96% 0.0919 199.89deg);
    --color-teal-200: oklch(85.77% 0.0718 200.32deg);
    --color-teal-150: oklch(90.69% 0.0406 200.29deg);
    --color-teal-100: oklch(95.79% 0.018 201.11deg);
    --color-purple-600: oklch(20.56% 0.0907 288.24deg);
    --color-purple-550: oklch(28.29% 0.1348 286.02deg);
    --color-purple-500: oklch(35.86% 0.1795 284.97deg);
    --color-purple-450: oklch(43.47% 0.2239 285.34deg);
    --color-purple-400: oklch(48.41% 0.2342 293.93deg);
    --color-purple-350: oklch(53.33% 0.2476 301.09deg);
    --color-purple-300: oklch(58.44% 0.2596 306.65deg);
    --color-purple-250: oklch(67.76% 0.2011 301.5deg);
    --color-purple-200: oklch(76.95% 0.1342 296.84deg);
    --color-purple-150: oklch(86.3% 0.0733 291.71deg);
    --color-purple-100: oklch(95.91% 0.0215 294.6deg);
    --color-white: oklch(100% 0 0deg);
    --color-knockout: oklch(100% 0 0deg);
    --gradient-purple-500: radial-gradient(100% 100% at 0% 0%, var(--color-gray-550) 30%, var(--color-purple-550) 50%, var(--color-purple-450) 80%);
    --gradient-purple-300: radial-gradient(100% 100% at 0% 0%, var(--color-gray-550) 30%, var(--color-purple-450) 50%, var(--color-purple-300) 80%);
    --gradient-purple-200: radial-gradient(100% 100% at 0% 0%, var(--color-purple-250) 30%, var(--color-purple-250) 50%, var(--color-purple-150) 80%);
    --gradient-purple-100: radial-gradient(100% 100% at 0% 0%, var(--color-purple-200) 30%, var(--color-purple-150) 50%, var(--color-purple-100) 80%);
    --gradient-red-500: radial-gradient(100% 100% at 0% 0%, var(--color-gray-550) 30%, var(--color-purple-450) 50%, var(--color-red-450) 80%);
    --gradient-red-300: radial-gradient(100% 100% at 0% 0%, var(--color-gray-550) 30%, var(--color-purple-300) 50%, var(--color-red-300) 80%);
    --gradient-red-200: radial-gradient(100% 100% at 0% 0%, var(--color-purple-250) 30%, var(--color-purple-200) 50%, var(--color-red-200) 80%);
    --gradient-red-100: radial-gradient(100% 100% at 0% 0%, var(--color-purple-200) 30%, var(--color-purple-150) 50%, var(--color-red-100) 80%);
    --gradient-green-500: radial-gradient(100% 100% at 0% 0%, var(--color-gray-550) 30%, var(--color-green-350) 50%, var(--color-teal-450) 80%);
    --gradient-green-300: radial-gradient(100% 100% at 0% 0%, var(--color-gray-550) 30%, var(--color-green-300) 50%, var(--color-teal-300) 80%);
    --gradient-green-200: radial-gradient(100% 100% at 0% 0%, var(--color-green-250) 30%, var(--color-green-200) 50%, var(--color-teal-200) 80%);
    --gradient-green-100: radial-gradient(100% 100% at 0% 0%, var(--color-green-200) 30%, var(--color-green-150) 50%, var(--color-teal-150) 80%);
}